<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Vue.js-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!--Jquery.axios-->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script type = "text/JavaScript" src = " https://MomentJS.com/downloads/moment.js"></script>

        <meta charset="utf-8">
        <meta name="viewport">
        <link rel="stylesheet" href="app.css">
        <title>VueJS</title>

        <style>
            html, body {
                height: 100%;
            }
        </style>


    </head>
    <body>

        <div class="container-fluid d-flex h-100 justify-content-center align-items-center">

            <div class="row" id="app">

                <div class="col-lg-12">
                    <h3 class="text-center mb-4">Новый пациент</h3>

                    <div class="input-group">   
                        <div class="col-lg-5">
                            <label for="fio_patient">ФИО пациента:</label>  
                        </div>           
                        <input type="text" class="form-control" id="fio_patient" placeholder="Иванов Иван Иваныч" v-model="inp_fio">
                    </div>

                    <div class="input-group mt-3">
                        <div class="col-lg-5">
                            <label for="insurance">Номер медицинской страховки:</label>
                        </div>
                        <input type="text" class="form-control" id="insurance" placeholder="8 888 888 8888 8888 888" v-model="inp_insurance" @keypress="isNumber($event)">
                    </div>

                    <div class="input-group mt-3">

                        <div class="col-lg-5">
                            <label for="ward">Номер палаты:</label>
                        </div>
                 
                        <input type="text" class="form-control" id="ward" placeholder="13" v-model="inp_ward" @keypress="isNumber($event)">
                       
                    </div>

                    <div class="input-group mt-3">
                        <div class="col-lg-5">
                            <label for="date">Дата обращения:</label>
                        </div>
                        <input type="date" class="form-control" id="date" placeholder="Дата" value="">
                    </div>

                    <div class="input-group mt-3">
                        <div class="col-lg-5">
                            <label for="doctor">Лечащий врач:</label>
                        </div>
                        <input type="text" class="form-control" id="doctor" placeholder="Фамилия Имя Отчество" v-model="inp_doctor">
                    </div>

                    <div class="input-group mt-3">
                        <div class="col-lg-5">
                            <label for="symptoms">Симптомы:</label>
                        </div>
                        <textarea  type="text" class="form-control" id="symptoms" placeholder="Симптомы" rows="5" v-model="inp_symptoms"></textarea>
                    </div>

                </div> 

                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-danger w-100" @click="cancle()">Назад</button>
                            </div>

                            <div class="col-lg-6"></div>

                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-primary w-100" @click="save_data()">Сохранить</button>
                            </div>
                        </div>
                    </div>  
            
            </div> 
            
            

            <script type="text/javascript">
                var app = new Vue({
                    el: '#app',
                    data: {
                        inp_fio: '',
                        inp_insurance: '',
                        inp_ward:'',
                        inp_data:'',
                        inp_doctor: '',
                        inp_symptoms: '',
    
                        hashtags: [],

                        wards: [1, 2, 3, 4, 5, 6],
    
                        url: {
                            hashtags: 'https://dka-develop.ru/api?type=hashtag',
                            cities: 'https://dka-develop.ru/api?type=city'
                        }
                    },

                    created: function(){
                        //alert("Я родился!");
                        //alert(moment().format('YYYY-MM-DD').toString());
                        var today = moment().format('DD-MM-YYYY');
                        document.getElementById("date").value = today;
                    },
        
                    methods: {
                        cancle(){
                            alert("Отмена");
                        },
        
                        save_data(){

                            inp_data = document.getElementById("date").value;


                            if(this.inp_fio.length < 2){
                                alert("Имя пациента не должно быть пустым");
                            }
                            else if(this.inp_insurance.length < 18){
                                alert("Номер медицинской страховки должен содержать 18 символов");
                            }
                            else if(this.inp_data.length < 10){
                                alert("необходимо указать дату");
                            }
                            else{
                                alert("Сохранить");
                            }
                        },

                        isNumber: function(evt) {
                            evt = (evt) ? evt : window.event;
                            var charCode = (evt.which) ? evt.which : evt.keyCode;
                            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                                evt.preventDefault();;
                            } else {
                                return true;
                            }
                        }
                    }
                })
                </script>

        </div>        
    </body>
</html>